PNG-OpenByMessageID.json
{
  "name": "PNG-OpenByMessageID copy",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "operation": "getScreenshot",
        "fullPage": true,
        "options": {
          "waitUntil": "load",
          "headless": true
        }
      },
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        1024,
        272
      ],
      "id": "e819e899-9bfa-4615-8b00-50f22985ea16",
      "name": "Puppeteer"
    },
    {
      "parameters": {
        "jsCode": "// Extract HTML from Email\nconst html = $input.first().json.html || '<h1>No content</h1>';\n\n// Converting to Base64\nconst base64 = Buffer.from(html, 'utf-8').toString('base64');\n\n// Formatting data URL\nconst url = `data:text/html;base64,${base64}`;\n\nreturn [\n  { json: { url } }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        272
      ],
      "id": "97272030-a5dd-42b9-9599-8248c967ff2e",
      "name": "Code in JavaScript1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "path": "217f01ab-97bf-4910-afc9-663b77a594af",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        288
      ],
      "id": "12437c45-976c-479c-865a-56d11dc89954",
      "name": "Webhook",
      "webhookId": "217f01ab-97bf-4910-afc9-663b77a594af"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1232,
        272
      ],
      "id": "e908bf52-3f17-41ca-804a-5ed7a58014d9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract MessageID from query\nconst messageId = $json.query?.messageId;\n\nif (!messageId) {\n  throw new Error(\"messageId not provided in URL query\");\n}\n\nreturn [\n  { json: { messageId } }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        288
      ],
      "id": "42902cfd-0790-4001-bfd1-60ac9b320191",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1303133-f89b-4f34-baad-976a1e97b15e",
              "leftValue": "={{ $json.error }}",
              "rightValue": "item 0",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        288
      ],
      "id": "ab5140d0-ee66-47ee-ae39-12c9cd13a548",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.messageId }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        288
      ],
      "id": "ca9fe1c2-9321-475c-8a70-c971c98862b5",
      "name": "workpaypal2023@gmail.com",
      "webhookId": "06a43376-1530-4265-95d2-9c625e93ae9c",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "AGQ3GnqUVnX3hV2E",
          "name": "gmail1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "472124645",
        "text": "Error getting message ID to make PNG",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        432
      ],
      "id": "80d33723-6a6d-44b7-87b4-365af1cb354f",
      "name": "Error",
      "webhookId": "e01d2afc-2a21-4594-9e12-8941f150cbf5",
      "credentials": {
        "telegramApi": {
          "id": "j2xih7F1P086Grw8",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Puppeteer": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Puppeteer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workpaypal2023@gmail.com": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7220cd33-f768-4dcc-96f7-325faa1cf70b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af95bafb77460a39a122b216b66473d6e1c59ced66c3bba1da34b6e626756ee1"
  },
  "id": "RzDlYi918yBUPDc5",
  "tags": []
}